* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --backgrond: #F9F4FB;
  --text-color: #312D64;
  --button: #8257E5;
  --tittle: #B52184;
  --background-linear-gradient: linear-gradient(to right, #343193, #302C63);

  /*   background: linear-gradient(to left, red, blue, green);
 */
  font-size: 62.5%;
}


html,
body,
input,
select,
textarea {
  font-family: 'Mulish', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--text-color);
}

body {
  background: var(--backgrond);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--tittle);
}

main {

  max-width: 43.2rem;

  margin-inline: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;


}

.container {
  height: 100%;

  padding-bottom: 9.5rem;
}

.container>img {
  width: 90%;
  max-width: 70.5rem;
  object-fit: cover;
}

article>h1 {
  margin-top: 1.7rem;
}

article>p {
  font-size: 2rem;
  font-weight: 600;
}

article>a>img {
  margin-top: 3.8rem;
}

.section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-linear-gradient);
  width: 100vw;

  padding: 5.2rem 3.9rem;
  gap: 4.9rem;
}

.card {
  background: var(--backgrond);

  width: 35.2rem;
  height: 35.2rem;
  border-radius: 1.9rem;

  padding: 2.6rem;

  text-align: start;
}

.card>h1 {
  margin-top: 3.3rem;
}

form {
  margin: 7.8rem 4rem;
  text-align: start;
}

fieldset {
  border: none;
}

legend {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--tittle);

  margin-bottom: 4.3rem;
}

input {
  width: 100%;
  height: 60px;
  padding: 0 16px;

  border: 1px solid var(--text-color);
  border-radius: 1.6rem;

  background: var(--backgrond);

  margin-bottom: 2.4rem;
}


#email {
  background-image: url(./assets/at.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2.4rem;
  padding-left: 4.3rem;
  background-position-x: 1.4rem;
}

#name {
  background-image: url(./assets/person.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2.4rem;
  padding-left: 4.3rem;
  background-position-x: 1.4rem;
}

textarea {
  width: 100%;
  height: 13rem;
  border: 1px solid var(--text-color);
  border-radius: 1.6rem;
  background: var(--backgrond);

  margin-bottom: 2.4rem;
  padding: 1.2rem 1.6rem;

}

.button {
  width: 15.1rem;
  height: 4.5rem;

  border: none;
  border-radius: 1.6rem;

  background: var(--background-linear-gradient);
  color: var(--backgrond);

  font-size: 1.4rem;
}



footer {
  background: var(--background-linear-gradient);
  color: var(--backgrond);

  height: 7.8rem;
  width: 100%;


  display: flex;
  align-items: center;
  justify-content: center;
}

.active{
  display: none;
}

@media (min-width: 768px) {

  main {
    max-width: 121.5rem;

  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
    align-items: center;
    justify-content: center;

  }

  .container>img {
  width: 80%;

    object-fit: cover;
  }

  article{
    width: 100%;
  }

  article>h1 {
    font-size: 4.8rem;


  }

  article>p {
    font-size: 3.4rem;
  }

  article>a>img {
    display: flex;
  }
  .section-card{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .section-form{
    width: 100%;
    display: flex;
  }

 form{
  width: 70%;
 }

 .active{
  display: inline;
}
}